GameProposal_Prototype/Temp
GameProposal_Prototype/Library
GameProposal_Prototype/Logs
GameProposal_Prototype/obj
GameProposal_Prototype/Logs
GameProposal_Prototype/.vs
GameProposal_Prototype/UserSettings/EditorUserSettings.asset
